#maincontent > *:last-child:not(.wdn-band) {
  margin-bottom: 2.369rem;
}
.wdn-band .wdn-inner-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
@media  (min-width: 60em) {
  .wdn-text-band.wdn-band .wdn-inner-wrapper {
    max-width: 50rem;
    margin: 0 auto;
  }
}
#maincontent .wdn-band .wdn-inner-wrapper {
  padding-top: 2.369em;
  padding-bottom: 2.532em;
}
@media  (min-width: 48em) {
  #maincontent .wdn-band .wdn-inner-wrapper {
    padding-top: 3.157em;
    padding-bottom: 3.375em;
  }
}
#maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-sm {
  padding-top: 1.333em;
  padding-bottom: 1.425em;
}
@media  (min-width: 48em) {
  #maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-sm {
    padding-top: 1.777em;
    padding-bottom: 1.899em;
  }
}
#maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-lg {
  padding-top: 4.209em;
  padding-bottom: 4.449em;
}
@media  (min-width: 48em) {
  #maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-lg {
    padding-top: 5.61em;
    padding-bottom: 5.997em;
  }
}
#maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-no-top {
  padding-top: 0;
}
#maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-no-bottom {
  padding-bottom: 0;
}
#maincontent .wdn-band .wdn-inner-wrapper.wdn-inner-padding-none {
  padding-top: 0;
  padding-bottom: 0;
}
.wdn-band .wdn-stretch {
  max-width: 100%;
  width: 100%;
}
.wdn-band .wdn-center {
  text-align: center;
}
